<div class="user-form-card">

    <form class="user-form register-form" action="">

        <h4>Username:</h4><input id="username-register" type="text" />
        <h4>Password:</h4><input id="password-register" type="password" />
        <h4>Confirm Password:</h4><input id="confirm-register" type="password" />
            <br />
        <button type="submit" class="btn btn-dark register-button">Register</button>
            <br />
        <button type="submit" class="btn btn-dark"> <a href="/api/user/login">Already registered? Click here to log in!</a></button>

    </form>

</div>

<script src="/js/register.js"></script>